<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>Temperature Convertor</h1>
    <div class="outbox">
      <div class= "Block">
        <div class="textbox">
          <p>Degrees</p>
          <input  type="number" placeholder="Enter The Temperature" #temp>
        </div>
        <div>
          <p>type</p>
          <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select [(value)]="selected">
                <mat-option value="Farenheit">Farenheit</mat-option>
                <mat-option value="Kelvin">Kelvin</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button (click)="calculateTemp(temp.value)">Convertor</button>
        </div>
      </div>
      <p class="result">Result</p>
      <h2>{{result}}°C</h2>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
